<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/services.css">
  <title>Birth Certificate</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="../static/css/magiczoomplus.css"/>

</head>

<body>
  
  <nav class="navbar">
    <a href="/" class="active logo">Suchanapati </a>
    <div class="nav-right">
      <button class="btn"><a href="/complaint">Facing a problem?</a></button>
    </div>
  </nav>




  <div class="preface">
    <span class="bigTitle">Birth Certficate in Nepal</span>

    <a href="../static/photos/birth.jpg" class="MagicZoom" data-options="zoomMode: magnifier"><img src="../static/photos/birth.jpg" style="max-width: 20%;"></a>

    <span class="smallText">
      A birth certificate is a vital record that documents the birth of a person. The term "birth certificate" can refer to either the original document certifying the circumstances of the birth or to a certified copy of or representation of the ensuing registration of that birth. Depending on the jurisdiction, a record of birth might or might not contain verification of the event by such as a midwife or doctor.
    </span>
  </div>





 

  <div class="docReq">
    <span class="bigTitle" style="font-size: 30px;">
      Necessary documents for Birth Certificate
    </span>
    

    



    <div class="listItems">
      <ul>
        <li class="smallText">Parents Marraige Certficate</li>
        <li class="smallText">Parents Citizenship (Either Father or Mother)</li>
        <li class="smallText">Report of birth issued by the health institution/hospital if born there</li>
        <li class="smallText">If born at the house, evidence of the last vaccination</li>
        <li class="smallText">In the case of foreigner, copy of father’s and mother’s passport or evidence showing
          residence in the concerned Ward,</li>
          <li class="smallText">In the case of an Indian citizen, evidence wetting out the identity that he or she is
            Indian citizen,</li>
          <li class="smallText">If the father is disappearing or his whereabouts are not known, the letter of police in
            that respect.</li>
        <li class="smallText">Ward Recommendation Letter</li>
      </ul>
    </div>
  </div>

  <div class="faqs">
    <span class="bigTitle" style="font-size: 30px;">
      Frequently Asked Questions

    </span>
    <div class="question">
      <button type="button" class="collapsible">
        How can I get birth certificate in Nepal?
      </button>
      <div class="content">
        <p>You can submit your application form to the local registrar's office. You will have to bring proof of your citizenship of Nepal to obtain birth records. You can use the NID card to prove your identity and get your certificate. You will have to pay a small fee.</p>
      </div>
    </div>
    <div class="question">
      <button type="button" class="collapsible">
        What should I do if I lost my birth certificate in Nepal?
      </button>
      <div class="content">
        <p>If the birth certificate is lost or destroyed in any manner, the concerned person may submit a request to obtain a copy of the certificate to the local registrar's office.</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="low-box">

      <div class="lowersecondHalf">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
      </div>
      <div class="lowerfirstHalf">
        <p class="text-small">&copy; www.suchanapati.com - All rights reserved.</p>

      </div>
    </div>

  </footer>


  <script src="../static/js/citizen.js"></script>
  <script type="text/javascript" src="../static/js/magiczoomplus.js"></script>
</body>

</html>