<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/services.css">
  <title>Citizenship</title>
  <link type="text/css" rel="stylesheet" href="../static/css/magiczoomplus.css"/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <nav class="navbar">
    <a href="/" class="active logo">Suchanapati </a>
    <div class="nav-right">
      <button class="btn"><a href="/complaint">Facing a problem?</a></button>
    </div>
  </nav>




  <div class="preface">
    <span class="bigTitle">Citizenship registration in Nepal</span>
    <a href="../static/photos/citizenship.jpg" class="MagicZoom" data-options="zoomMode: magnifier"><img src="../static/photos/citizenship.jpg" style="max-width: 20%;"></a>
    <span class="smallText">
      When you are applying for Citizenship, you
      have to submit a Form , along with a list of documents. The documents required for Citizenhip depend on
      the applicant. Thus, they are different from one another.

      Continue reading to know the documents required for applying for a 
      citizenship in Nepal.
    </span>
  </div>

  <div class="necessityReq">
    <span class="bigTitle" style="font-size: 30px;">
      Prerequisite for Citizenship
    </span>
    <div class="listItems">
      <ul>
        <li class="smallText">any person who has at least attained age of 16 years</li>
        <li class="smallText">any person born at the time when his father or mother is a citizen of Nepal</li>
      </ul>
    </div>
  </div>





  </div>

  <div class="docReq">
    <span class="bigTitle" style="font-size: 30px;">
      Necessary documents for Citizenship
    </span>
    

    <span class="smallText">
        The Constitution of Nepal regulates provisions for Nepali nationality in Articles 8, 9 and 10. The Nepal Citizenship Act 1964 was first promulgated on 28 February 1964 and provides for a single citizenship for the entire country to inherit Nepali nationality. The Nepal Citizenship Act, 2006 was enacted on 26 November 2006. It repeals the 1964 Act and makes further provisions for acquisition and termination of Nepali citizenship and related . All you need to have citizenship card is your father and mother citizenship card and your birth certificate.
      <div class="hover_img">
        
   </div>
    </span>



    <div class="listItems">
      <ul>
        <li class="smallText">Birth Certficate</li>
        <li class="smallText">Parents Citizenship (Either Father or Mother)</li>
        <li class="smallText">Ward Recommendation Letter</li>
        <li class="smallText">2 Passport Size Photo</li>
        <li class="smallText">Guardian's Signature in district admininstration office</li>
      </ul>
    </div>
  </div>

  <div class="faqs">
    <span class="bigTitle" style="font-size: 30px;">
      Frequently Asked Questions

    </span>
    <div class="question">
      <button type="button" class="collapsible">
        Who Issues citizenship in Nepal?
      </button>
      <div class="content">
        <p>The Ministry shall have the power to issue the certificate of naturalized citizenship of Nepal other than that set forth in Sub-rule.The Council of Ministers, Government of Nepal, shall have the power to grant the honorary citizenship of Nepal to be granted pursuant to Section 6 of the Act.</p>
      </div>
    </div>
    <div class="question">
      <button type="button" class="collapsible">
        Can we change name in citizenship in Nepal?
      </button>
      <div class="content">
        <p>To change your name, submit a petition to your local Superior Court that details the reasons you'd like to change your name. After the court approves your request, you'll then need to update your Social Security card, driver's license and passport.</p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="low-box">

      <div class="lowersecondHalf">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
      </div>
      <div class="lowerfirstHalf">
        <p class="text-small">&copy; www.suchanapati.com - All rights reserved.</p>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../static/js/magiczoomplus.js"></script>
</body>
  <script src="../static/js/citizen.js"></script>
</body>

</html>