<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complain</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/complaint.css">
</head>

<body>

    <nav id="navbar">
        <div class="back"><a href="/"><i class="fa fa-angle-left" style="font-size:36px"></i></a></div>
    </nav>

    <section class="form">
        <div class="formText">
            <span class="textBig">
                Welcome to Suchanapati Helpline!
            </span>
            <span class="textSmall">
                If you have any issues regarding citizenship, passport, driving liscnese and other 
                services we provide fill this form and explain your information. <b>Please fill authentic 
                details.</b> Solution for your issue will be provided within 24 hrs.
            </span>
        </div>
        <form  method="post"class="formContent">
            <div class="formElem">
                <i class="fa fa-user icon"></i>
                <input type="text" name="name" placeholder="Your Name*" required="true" class="inputElem">
            </div>

            <div class="formElem">
                <i class="fa fa-envelope icon"></i>
                <input type="email" name="mail" placeholder="Your Email*" required="true"  class="inputElem">
            </div>
            <div class="formElem">
                <i class="fa fa-phone icon"></i>
                <input type="phone" name="phone" placeholder="Your Phone Number*" required="true" class="inputElem">
            </div>
            
            <div class="formElem">
                <textarea name="problem" cols="50" rows="10" placeholder="Your Problem*" style="padding: 10px;" spellcheck="true" required="true" ></textarea>
            </div>

            <div class="submitBtn ">
                <button type="submit" class="btn">Submit</button>
            </div>



        </form>

    </section>

    <footer class="footer">
        <div class="low-box">

            <div class="lowersecondHalf">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
            </div>
            <div class="lowerfirstHalf">
                <p class="text-small">&copy; www.suchanapati.com - All rights reserved.</p>

            </div>
        </div>

    </footer>


</body>
 
</html>