<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suchanapati-By Team Yunik</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


    <nav class="navbar blur">
        <ul class="nav-list v-class h-nav">
            <div class="logo">
                <a href="index.html" style="text-decoration: none;">
                    <p>SuchanaPati</p>
                </a>
            </div>
            <li><a href="#home">Home</a></li>
            <li><a href="#serviceSection">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="/complaint">Helpline</a></li>
        </ul>


        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>

    <section class="firstSection background " id="home">
        <div class="main-box">
            <div class="firstHalf">
                <p class="text-big">Save your time !</p>
                <p class="text-small">We offer procdeure and general information
                    related to different documentation process. Inside you could easily find procedure regarding company
                    registration, applying for citizenship, and other related stuffs.The main objective of this website
                    is to make government related different services easily as well as effectively.</p>

                <div class="buttons">
                    <button class="btn" onClick="document.getElementById('serviceSection').scrollIntoView();"">Services</button>
                </div>
            </div>

            <div class=" secondHalf">
                        <img src="../static/photos/about.png" alt="">
                </div>
            </div>

    </section>


    <section class="services " id="serviceSection">
        <p class="text-big">Our Services</p>
        <div class="service">
            <div class="service-card">
                <div class="card-body">
                    <h5 class="text-small">Citizenship</h5>
                    <p class="text-small">Know if you are eligible for getting citizenship.</p>
                    <a href="/citizenship" class="btn-service">Click here</a>
                </div>
            </div>
            <div class="service-card">
                <div class="card-body">
                    <h5 class="text-small">Passport</h5>
                    <p class="text-small">Know if you are eligible for getting citizenship.</p>
                    <a href="#" class="btn-service">Click here</a>
                </div>
            </div>
            <div class="service-card">
                <div class="card-body">
                    <h5 class="text-small">Birth Certificate</h5>
                    <p class="text-small">Know your reuqirements for getting birth certficate</p>
                    <a href="#" class="btn-service">Click here</a>
                </div>
            </div>
        </div>
    </section>





    <section class="aboutSection" id="about">
        <div class="about-box">
            <div class="textHalf">
                <p class="text-big">Meet our Founders</p>
            </div>
            <div class="picHalf">
                <div class="photoCard">
                    <a href="https://www.instagram.com/bhattaraiadish/"><img src="../static/photos/f1.jpg"></a>
                    <p class="text-small">Adish Bhattarai</p>
                </div>
                <div class="photoCard">
                    <a href="https://www.instagram.com/revacholpatriot/"><img src="../static/photos/f2.jpg"></a>
                    <p class="text-small">Digvijay Singh Thapa</p>
                </div>
                <div class="photoCard">
                    <a href="https://www.instagram.com/_aavashbaral_/"><img src="../static/photos/f3.jpg"></a>
                    <p class="text-small">Aavash Baral</p>
                </div>

            </div>
        </div>
    </section>



    <footer class="footer">
        <div class="low-box">

            <div class="lowersecondHalf">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
            </div>
            <div class="lowerfirstHalf">
                <p class="text-small">&copy; www.suchanapati.com - All rights reserved.</p>

            </div>
        </div>

    </footer>

    <script src="../static/js/index.js"></script>
</body>

</html>