<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/services.css">
  <title>Passport</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <nav class="navbar">
    <a href="/" class="active logo">Suchanapati </a>
    <div class="nav-right">
      <button class="btn"><a href="/complaint">Facing a problem?</a></button>
    </div>
  </nav>




  <div class="preface">
    <span class="bigTitle">Appyling for passport in Nepal</span>
    <img src="../static/photos/passport.jpg" alt="citizenship sample" srcset="" style="max-width: 20%;">
    <span class="smallText">
      <strong>Nepalese Ordinary Passport</strong> is issued for a period of 10 years. It is non-renewable; thereafter passport holders are required to apply for a new passport well within time before expiry, but not earlier than six months validity period. However, in case of accidental damage of the passport or use of all the pages meant for visa, one could apply for a new ordinary passport at any time.
      A Nepali citizen would obtain ordinary Passport from the Consulate General of Nepal provided the applicant is within its consular districts and fulfills the requirements as outlined in the following paragraphs.
    


    </span>
  </div>

  





  </div>

  <div class="docReq">
    <span class="bigTitle" style="font-size: 30px;">
      Necessary documents for Citizenship
    </span>
    

    <span class="smallText">
        A <b class="highlight">Nepali Passport</b> is issued by the Ministry of Foreign Affairs of the Nepal to Nepali citizens for the purpose of international travel. The Department of Passport (DoP), a Department under Ministry of Foreign Affairs functions as the issuing authority and is responsible for issuing Nepali passports on application to all eligible Nepali citizens. It enables the bearer to travel internationally and serves as proof of Nepali citizenship

    </span>

    



    <div class="listItems">
      <ul>
        <li class="smallText">Two duly filled passport application forms (should be filled online and printed)</li>
        <li class="smallText">Existing Passport with its photocopy(Specification of photos)</li>
        <li class="smallText">Nepalese Citizenship Certificate with its photocopy (for applicants above 16 years' age)</li>
        <li class="smallText">Total 4 pp size photographs (borderless, white background, colour, size 35mm x 45mm)</li>
      </ul>
    </div>
  </div>
  <div class="docReq">
    <span class="bigTitle" style="font-size: 30px;">
      Procedure
    </span>
    

    <div class="listItems">
      <ul>
        <li class="smallText">First of all, download the MRP (machine-readable passport) application form from the website of the Department of Passport.</li>
        <li class="smallText">Then, open the application form using Adobe Acrobat programme on your computer. You cannot fill the form using browsers like Google Chrome, Internet Explorer, Opera Browser, Mozilla Firefox, and others. If Adobe Acrobat is not installed, kindly download and install it to open the MRP application form.</li>
        <li class="smallText">Now, fill your form thoroughly.</li>
        <li class="smallText">After filling up the form, you have to print it, on an A4 sheet. Make sure that you select ‘None’ for page scaling while printing.</li>
        <li class="smallText">Submit the printed copy to the District Administration Office, also known as the CDO Office. You also have to pay Rs 5,000 while applying. Make sure that you are present in-person to apply.</li>
        <li class="smallText">You will get your passport from their respective DAO within 15 to 45 days of applying depending on the distance between the Department of Passports and your district.
        </li>
      </ul>
    </div>
  </div>

  <div class="necessityReq">
    <span class="bigTitle" style="font-size: 30px;">
      Photo Requirements 
    </span>

    <span class="smallText">
      Also, there is a separate photo guideline for an MRP for the easy identification of the MRP photos. This photo guideline confirms the criteria set by the International Civil Aviation Organisation (ICAO).

  </span>
    <div class="listItems">
      <ul>
        <li class="smallText">The photo must be taken within six months.</li>
        <li class="smallText">The size of the photo must be as per the following illustration:</li>
        <img src="../static/photos/passport-photo.jpg" alt="citizenship sample" srcset="" style="max-width: 20%;">

        <li class="smallText">The photo must not be processed or modified colourfully or digitally.</li>
        <li class="smallText">The photographed person should be looking straight at the camera so that both ears are visible. The look of the face must be natural, and there should not be other marks or scars except natural ones.</li>
        <li class="smallText">Eyes should be open and clearly visible. If one wears spectacles, the spectacles frame must be thin and of light colour. Also, eyes should be clearly visible through that without any reflection.</li>
        <li class="smallText">Except for religious reasons, head coverings and ornaments are not permitted.</li>
        <li class="smallText">The photo must have a plain light background with no border.</li>
        <li class="smallText">Eyes should be open and clearly visible. If one wears spectacles, the spectacles frame must be thin and of light colour. Also, eyes should be clearly visible through that without any reflection.</li>
      </ul>
    </div>
  </div>

  <div class="faqs">
    <span class="bigTitle" style="font-size: 30px;">
      Frequently Asked Questions

    </span>
    <div class="question">
      <button type="button" class="collapsible">
        Can we make passport in 1 day in Nepal?

      </button>
      <div class="content">
        <p>With the Department of Passport on Sunday launching pre-live enrolment system to provide passport, any Nepali citizen can get a machine-readable passport (MRP) within a day of submitting an application at the department.</p>
      </div>
    </div>
    <div class="question">
      <button type="button" class="collapsible">
        How much does it cost to get a passport in Nepal?
      </button>
      <div class="content">
        <p>To apply MRP in normal service, applicants have to apply via CDO Office from where the citizenship card is issued, and the fees required is NRs.5000.

        </p>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="low-box">

      <div class="lowersecondHalf">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-twitter"></a></li>
      </div>
      <div class="lowerfirstHalf">
        <p class="text-small">&copy; www.suchanapati.com - All rights reserved.</p>

      </div>
    </div>

  </footer>


  <script src="../static/js/citizen.js"></script>
</body>

</html>